<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello <%= @user.name %>,</h1>
    <p>
      Your account has been deleted by an admin. If you did not request this, it may be for inappropriate content or site abuse.<br>
    </p>

    <p>Thanks, from the Team at Galaxy Gamers Association</p>
  </body>
</html>
