<div id='pad'>
  <h1>Admin Dashboard</h1>
  <br />
  <a href='/users'><button id='button'>User List</button></a>
  <br />
  <br />
  <a href='/gamerequests'><button id='button'>Game Request List</button></a>
</div>
