<div data-sticky-container>
  <div class="title-bar" data-sticky data-options="marginTop:0;" style="width:100%" data-top-anchor="1" data-btm-anchor="content:bottom">

    <div class="title-bar-left">
      <strong>Galaxy Gamer Reviews</strong>
    </div>

    <div class="title-bar-right">
      <ul class="menu">
        <li><a href="/users/sign_up">Sign Up</a></li>
        <li><a href="/users/sign_in">Log In</a></li>
      </ul>
    </div>

  </div>
</div>
