<div id='splash'>


<div id='pad' class='text-center'>

  <h1>Galaxy Gamers Association</h1>
  <br />
  <h2>Amrisha Vaidya</h2>
    <h3><a href='github.com/amrisha-vaidya'>github.com/amrisha-vaidya</a></h3>
  <h2>Josh Ho</h2>
    <h3><a href='github.com/joshh45'>github.com/joshh45</a></h3>
  <h2>Tori Scalzo</h2>
    <h3><a href='github.com/toriscalzo000'>github.com/toriscalzo000</a></h3>
  <h2>Will Kent</h2>
    <h3><a href='github.com/wwinslowkent'>github.com/wwinslowkent</a></h3>

</div>
</div>
