<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hello <%= @user.name %>,</p>
    <p>
      Your review for <%= @game.name %> has been deleted. If you did not do this yourself, an admin has deleted your review. Please remember to keep all reviews appropriate.<br />
    </p>

    <p>Thanks, from the Team at Galaxy Gamers Association</p>
  </body>
</html>
