<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello <%= @gamerequest.user.name %>,</h1>
    <p>
      Your game request for <%= @gamerequest.name %> has been approved!<br />
    </p>

    <p>Thanks, from the Team at Galaxy Gamers Association</p>
  </body>
</html>
