/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

#logo {
  width: 2vw;
  height: 2vw;
}

#core {
  min-height: 100%;
  min-width: 100%;
  background: linear-gradient(rgba(0,0,0, .65), rgba(0,0,0,.65)), url(./orion.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #ffffff;
}

#homepage {
  padding-top: 15%;
  padding-left: 20%;
  padding-right: 20%;
  padding-bottom: 100%;
  position: fixed;
  height: 100%;
  width: 100%;
  background: url(./orion.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#homepageb {
  padding-top: 15%;
  padding-left: 20%;
  padding-right: 20%;
  padding-bottom: 100%;
  height: 100%;
  width: 100%;
  background: url(./orion.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#index {
  padding-top: 20%;
  padding-left: 10%;
  padding-right: 10%;
  text-align: center;
  color: #ffffff;
}

#noresults {
  padding-top: 0%;
  padding-left: 10%;
  padding-right: 10%;
  text-align: center;
  color: #ffffff;
}

#flash {
  background: linear-gradient(rgba(198,58,57, .5), rgba(198,58,57, .5));
}

#pic {
  padding: 1%;
}

#title {
  background-color: #3d4460;
  padding: .75%;
  font-size: 1.8vw;
}

#gameshow {
  padding: 5%;
  padding-bottom: 1%;
}

#ha {
  padding-left: 5%;
  padding-right: 5%;
}

#form {
  padding-left: 5%;
  padding-right: 5%;
  color: #ffffff;
}

input[type="button"], input[type="submit"] {
  border:1px solid #BFBFBF;
  color: #8C8C8C;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  font-family: Verdana;
  width: auto;
  height: auto;
  font-size: 100%;
  padding: 1% 4%;
  background-color: #FCFAF9;
}

#pad {
  padding-left: 20px;
  padding-right: 20px;
}

#api {
  padding-top: 10%;
  padding-left: 10%;
  padding-right: 10%;
}

#api2 {
  padding-top: 10%;
  padding-left: 10%;
  padding-right: 10%;
}

#games {
  font-size: 3vw;
}

#button {
  border:1px solid #BFBFBF;
  color: #8C8C8C;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  font-family: Verdana;
  width: auto;
  height: auto;
  font-size: 16px;
  padding: 10px 40px;
  background-color: #FCFAF9;
}

#small {
  font-size: 16px;
}

#game {
  padding: 1%;
}

#resize {
  font-size: 14px;
}

.column, .columns {
  padding: 0;
}
